
<div class="center jumbotron">
  <h1>Welcome to Visionboard!</h1>
  <p>Visualize your future reality</p>

  <%= link_to "Log me in!", login_path, class: "btn btn-lg btn-primary" %>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
